html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  position: relative;
  color: $color-primary-text;
  background-color: $color-primary-background;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: $font-primary;
  line-height: 1.71;
  font-weight: 400;
}

.icon-mail {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.link:hover {
    fill: $color-accent;
  }
  &.link {
    @media screen and (min-width: 480px) {
      margin-bottom: 16px;
      margin-top: 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 0;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.icon-tel {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 10px;
  &.link:hover {
    fill: $color-accent;
  }
  &.link {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 0;
      margin-left: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 0;
    }
  }
}

/*site-nav*/

.site-nav {
  .item:not(:last-child) {
    @media screen and (min-width: 480px) {
      margin-right: 0;
    }
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
  .link::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transform: scaleX(0);
    background-color: $color-accent;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link:hover::after {
    transform: scaleX(1);
  }
  @media screen and (min-width: 480px) {
    display: inline-block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    margin-left: 88px;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-grow: 1;
    margin-left: 93px;
    justify-content: space-between;
  }
}

.site-nav .link {
  position: relative;
  display: block;
  color: $color-title-text;
  font-weight: 500;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    padding-bottom: 8px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.16;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    font-size: $font-primary;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $color-accent;
    outline: none;
  }
  &.current {
    color: $color-accent-text;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.contacts {
  @media screen and (min-width: 480px) {
    display: inline-block;
    align-items: center;
    justify-content: left;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    padding: 21px 0;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .link {
    display: flex;
    color: $color-primary-text;
    font-weight: 500;

    line-height: 1.14;
    text-decoration: none;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: $font-primary;
    }
  }
  .link:hover,
  .link:focus {
    color: $color-accent;
  }
}

.contacts .item .item {
  margin-left: 50px;
}
