.work {
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.work-list {
  display: flex;
  text-align: center;

  .work-element:not(:last-child) {
    margin-right: 30px;
  }
}

.work {
  &-element {
    display: flex;
    position: relative;
  }

  &-text {
    margin: 0;
  }

  &-text-overlay {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    padding: 27px 82px;
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: $font-primary;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-clear-text;
  }
}

.picture-work {
  display: block;
}

.work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
