//colors
$color-primary-text: #757575;
$color-title-text: #212121;
$color-border: #212121;
$color-accent-text: #2196f3;
$color-accent: #2196f3;
$color-button-background-accent: #2196f3;
$color-primary-background: #ffffff;
$color-fill-primary: #ffffff;
$color-clear-text: #ffffff;
$color-fill-icon: #afb1b8;
$color-button-background: #f5f4fa;
$color-background-icon: #f5f4fa;
$color-team-background: #f5f4fa;
$color-hero-footer-background: #2f303a;
$color-overlay-background: rgba(33, 150, 243, 0.9);
$color-address-contacts: rgba(255, 255, 255, 0.6);
$color-overlay-hero: #c4c4c4;

//fonts
$font-small: 12px;
$font-primary: 14px;
$font-medium: 16px;
$font-overlay: 18px;
$font-title-flex: 18px;
$font-form-title: 20px;
$font-hero: 26px;
$team-title: 28px;
$font-section: 36px;
$font-hero-title: 44px;
